.image-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  border: solid black 1px;
  width: 15rem;
  height: 15rem;
  margin: 1rem;
}

.card-image {
  text-align: center;
  height: 70%;
}

.image-card img {
  max-width: 100%;
  max-height: 100%;
}
